In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('ini_train.csv')
df.head()

,train_id,Pawpularity,sofa,bed,television,carpet,desk,tile,tree,swimming pool,...,lead,toy,men,women,human,single animal,multiple animals,teeth,tongue,cage
0,1,42,-0.552207,-1.493951,-1.267905,-1.529004,-1.868352,-1.130777,-3.217551,-2.742016,...,-2.258833,-0.719191,-1.702778,-2.347259,-1.020405,-0.759489,-1.875325,-2.701157,-1.751066,-1.281964
1,4,72,-2.962100,-3.484912,-2.574781,-3.824423,-3.430816,-2.193085,-3.131800,-3.308705,...,-1.973976,-1.089830,-1.559734,-1.774488,-1.299109,0.067189,-0.615485,-2.635761,-2.499905,-1.753864
2,6,22,-3.864808,-5.167488,-3.260664,-4.570236,-4.841631,-2.608526,-4.931809,-4.313343,...,-3.158966,-2.377318,-3.186136,-3.674803,-1.760548,-1.774488,-2.805919,-2.145216,1.243497,-3.226908
3,8,53,-1.849009,-2.150417,-1.445891,-1.959024,-1.835216,-1.669198,-3.035246,-3.958441,...,-2.416389,-0.999208,-1.738562,-2.654844,-0.399461,-0.792715,-1.607019,-1.175647,-1.283347,-1.466913
4,10,28,-2.138680,-2.676868,-1.892033,-2.097822,-2.860784,-0.411684,-2.955764,-3.267935,...,-2.111291,-1.249657,-1.988240,-2.751995,-0.354412,-0.632559,-1.712915,-2.744913,-2.302359,-1.747278

In [3]:
N = 3
X = df.iloc[: ,N:]
y = df['Pawpularity']

In [4]:
X.head()

,bed,television,carpet,desk,tile,tree,swimming pool,grass,sky,collar,...,lead,toy,men,women,human,single animal,multiple animals,teeth,tongue,cage
0,-1.493951,-1.267905,-1.529004,-1.868352,-1.130777,-3.217551,-2.742016,-2.884489,-1.577720,-1.716659,...,-2.258833,-0.719191,-1.702778,-2.347259,-1.020405,-0.759489,-1.875325,-2.701157,-1.751066,-1.281964
1,-3.484912,-2.574781,-3.824423,-3.430816,-2.193085,-3.131800,-3.308705,-2.832932,-3.030179,-1.684690,...,-1.973976,-1.089830,-1.559734,-1.774488,-1.299109,0.067189,-0.615485,-2.635761,-2.499905,-1.753864
2,-5.167488,-3.260664,-4.570236,-4.841631,-2.608526,-4.931809,-4.313343,-3.715711,-2.975466,-3.315124,...,-3.158966,-2.377318,-3.186136,-3.674803,-1.760548,-1.774488,-2.805919,-2.145216,1.243497,-3.226908
3,-2.150417,-1.445891,-1.959024,-1.835216,-1.669198,-3.035246,-3.958441,-2.471163,-1.759513,-1.117416,...,-2.416389,-0.999208,-1.738562,-2.654844,-0.399461,-0.792715,-1.607019,-1.175647,-1.283347,-1.466913
4,-2.676868,-1.892033,-2.097822,-2.860784,-0.411684,-2.955764,-3.267935,-2.751995,-1.981390,-1.285197,...,-2.111291,-1.249657,-1.988240,-2.751995,-0.354412,-0.632559,-1.712915,-2.744913,-2.302359,-1.747278

In [5]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split

In [6]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state = 4)

model = DecisionTreeClassifier()

model.fit(X_train,  y_train)
result = model.score(X_test, y_test)

print(result)

0.03026481715006305

In [14]:
from sklearn.model_selection import KFold
import numpy as np
from sklearn.model_selection import cross_val_score

In [13]:
model = DecisionTreeClassifier
kfold_validation = KFold(10)

results = cross_val_score(model, X, y, cv = kfold_validation)
print(results)
print(np.mean(results)*100)
#print(np.std(results)*100）

[0.02267003 0.02518892 0.01511335 0.01259446 0.01767677 0.01515152
 0.02272727 0.01515152 0.02525253 0.03535354]
2.0687988194285425